{% extends 'group_base.html' %}

{% block content %}

<div class="container-list">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th style="width:20%">그룹 이름</th>
            <th style="width:15%">유저 이름</th>
            <th>지원동기</th>
            <th>신청일시</th>
            <th>승인</th>
        </tr>
        </thead>
        <tbody>
        {%if group_request_list %}
        {%for request in group_request_list %}
        <tr>
<!--            <td>{{ forloop.counter }}</td>-->
            <td> {{request.gid.name}}</td>
            <td> {{request.uid.username}}</td>
            <td>{{ request.motivation }}</td>
            <td>{{ request.date }}</td>
            <td>
                <a class = "btn btn-black" href = "#" name = "requestApprove" role="button" style="margin-bottom:5px"
            data-uri = "{% url 'group:approve_request' request.uid.id request.gid.id 1%}">
                승인</a>
                <a class = "btn btn-black" href = "#" name = "requestReject" role="button" style=""
            data-uri = "{% url 'group:approve_request' request.uid.id request.gid.id 0%}">
                거부</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">요청이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

</div>
<!--페이징처리 시작-->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1"> << </a></li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> < </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> < </a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in page_obj.paginator.page_range %}
        {% if page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 %}
            {% if page_number == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"> > </a>
        </li>
        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> >> </a> </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> > </a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

<div class="container-list">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th style="width:20%">그룹 이름</th>
            <th>관리자 이름</th>
            <th>지원동기</th>
            <th>신청일시</th>
            <th>승인</th>
        </tr>
        </thead>
        <tbody>
        {%if group_apply_list %}
        {%for apply in group_apply_list %}
        <tr>
<!--            <td>{{ forloop.counter }}</td>-->
            <td> {{apply.gid.name}}</td>
            <td> {{apply.gid.uid.username}}</td>
            <td>{{ apply.motivation }}</td>
            <td>{{ apply.date }}</td>
            <td>대기중 </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">신청 내역이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

</div>
<!--페이징처리 시작-->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1"> << </a></li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> < </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> < </a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in page_obj.paginator.page_range %}
        {% if page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 %}
            {% if page_number == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"> > </a>
        </li>
        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> >> </a> </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> > </a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
{%endblock%}


{% block script %}
<script type='text/javascript'>
$("a[name=requestApprove]").on("click",function(e){
    if(confirm("승인하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
});
$("a[name=requestReject]").on("click",function(e){
    if(confirm("거부하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
});
</script>
{% endblock %}
