{% extends 'group_base.html' %}

{% block content %}


<div class="container-list">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th style="width:50%">그룹 이름</th>
            <th>탈퇴</th>
            <th>생성일시</th>
        </tr>
        </thead>
        <tbody>
        {%if group_join_list %}
        {%for group in group_join_list %}
        <tr>
<!--            <td>{{ forloop.counter }}</td>-->
            <td> {{group.name}}</td>
            <td>
            <a class = "btn btn-danger" href = "#" name = "deleteConfirm" role="button"
            data-uri = "{% url 'group:group_leave' group.id %}">
                탈퇴</a>
            </td>
            <td>{{ group.date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">그룹이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

</div>
<!--페이징처리 시작-->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1"> << </a></li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> < </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> < </a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in page_obj.paginator.page_range %}
        {% if page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 %}
            {% if page_number == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"> > </a>
        </li>
        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> >> </a> </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> > </a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

{%endblock%}

{% block script %}
<script type='text/javascript'>
$("a[name=deleteConfirm]").on("click",function(e){
    if(confirm("정말로 탈퇴하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
})
</script>
{% endblock %}
