{% extends 'group_base.html' %}
{% block content %}

<div class="container my-3">
    <!-- <div class="register-form">
        <div class="row my-3">
            <div class="col-4">
               <h4>그룹생성</h4>
            </div>
        </div>
        <form method="post" class="post-form" action="{% url 'group:group_create' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="form-group">
            <label for="name">그룹이름</label>
            <input type="text" class="form-control" name="name" id="name"
                    value="{{ form.name.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="info">그룹소개</label>
                <input type="text" class="form-control" name="info" id="info"
                    value="{{ form.info.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="goal">그룹목표</label>
                <input type="text" class="form-control" name="goal" id="goal"
                    value="{{ form.goal.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="members">그룹인원수</label>
                <input type="text" class="form-control" name="members" id="members"
                    value="{{ form.members.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-black">생성하기</button>
        </form>
    </div>
</div> -->



   <h5 class="my-3 border-bottom pb-2">그룹 생성</h5>
    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}