{% extends 'group_base.html' %}
{% load post_filter %}
{% block content %}

<div class="container-list">
<table class="table">
        <thead>
        <tr class="thead-dark">
            <th>No.</th>
            <th style="width:50%">그룹 이름</th>
            <th>관리자</th>
            <th>생성 일시</th>
        </tr>
        </thead>
        <tbody>
        {%if group_list %}
        {%for group in group_list %}
        <tr>
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td>
                <a href="{% url 'group:group_page' group.id %}" style="color: black">{{group.name}}</a>
            </td>
            <td>{{ group.uid.username }}</td>
            <td>{{ group.date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">No groups are created.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<!--페이징처리 시작-->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1"> << </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> < </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> < </a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in page_obj.paginator.page_range %}
        {% if page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 %}
            {% if page_number == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"> > </a>
        </li>
        <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> >> </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> > </a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

{% endblock %}