{% extends "group_base.html" %}
{% load post_filter %}
{% block content %}

<!-- ------------------------------------------------------------------------->

<div class="container-list">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>No.</th>
            <th style="width:18%">그룹 이름</th>
                    <th style="width:10%">인원</th>
                     <th style="width:40%">목표</th>
                    <th>생성 날짜</th>
        </tr>
        </thead>
        <tbody>
        {%if search_list %}
        {%for group in search_list %}
        <tr>
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ search_list.paginator.count|sub:search_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td>
                <a href="{% url 'group:group_detail' group.id %}" style="color: black">{{ group.name }}</a>
            </td>
            <td>{{ group.members }}</td>
            <td>{{ group.goal }}</td>
            <td>{{ group.date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">검색결과가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

<div>
    <form id="searchForm" method="get" action="{% url 'group:search_list' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
        <input type="hidden" id="so" name="so" value="{{ so }}">
        <div style= "float: right;" class="form-row" >
            <div class="col" >
             <select  style="width: 6em; height: 50px;" class="custom-select custom-select-md" name="type">
                <option value="name">제목</option>
                <option value="goal">목표</option>
                <option value="info">내용</option>
                <option value="all">전체</option>
            </select>
            </div>
                <input type="text"  class="form-control kw" style="width: 15em" alue="{{ kw|default_if_none:'' }}">
            <div class="input-group-append" >
                <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
            </div>
            </div>
    </form>
    </div>
    <!-- -------------------------------게시글 정렬-------------------------------- -->
    <div class="col-2" style="text-align:center; width:80px;float: right; margin-right:20px">
    <select class="form-control so" style="width:80px; height: 50px;">
        <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
        <option value="member" {% if so == 'member' %}selected{% endif %}>인원순</option>
    </select>
    </div>
</div>

<!-- 페이징처리 시작 -->
<div style="width:100%; float:left; margin-top:10px;">
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if search_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1"> << </a>
        </li>
        <li class="page-item">
            <a class="page-link" data-page="{{ search_list.previous_page_number }}" href="#"> < </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> < </a>
        </li>
        {% endif %}

    <!-------------------------페이지 리스트------------------------------------------------ -->

        {% for page_number in search_list.paginator.page_range %}
        {% if page_number >= search_list.number|add:-2 and page_number <= search_list.number|add:2 %}
            {% if page_number == search_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>

            </li>
            {% else %}
            <li class="page-item">

                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}

        <!-- 다음페이지 -->
        {% if search_list.has_next %}

        <li class="page-item">
            <a class="page-link" data-page="{{ search_list.next_page_number }}" href="#"> > </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ search_list.paginator.num_pages }}"> >> </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> > </a>
        </li>
        {% endif %}

    </ul>
<!-- 페이징처리 끝 -->
</div>
{% endblock %}
<!-- 자바 검색 기능  -->
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        var searchText = $(".kw").val()
        if(searchText == 0){
            alert('검색어를 입력해주세요');
            e.preventDefault();
        }
        else if(searchText == 1){
            alert('두 글자이상 입력하세요');
            e.preventDefault();
        }
        else{
        $("#kw").val(searchText);
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
        }
    });

    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });

});
</script>
{% endblock %}