
body {
    font-family: "Lato", sans-serif;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

/* 가로 넓을때 (이 사이즈보다 넓은 경우 적용)*/
@media screen and (min-width: 768px){

    .main-head{
            height: 150px;
            background: #FFF;
    }

    .sidenav {
        height: 100%;
        background-color: #000;
        overflow-x: hidden;
        padding-top: 20px;
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .list{
    padding: 10px 10px;
    margin-left:30%;
    }

    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }

}

/* 가로 좁을때 (이 사이즈보다 작은 경우 적용)*/
@media screen and (max-width: 768px){

    .list {
        width: 100%;
    }

    .container-list {
        width: 90%;
        margin: 5%;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff !important;
}

.group-main-text{
    padding-top: 10%;
    padding-left: 5%;
    color: #fff;
}

