<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <title>{% block title %}My Amazing Site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <h3>StudyCheck </h3>
        <h1>{{group.name}}</h1>

        {% endblock %}
        <br>
    </div>
                          <!-- 그룹 소개글, 그룹 총 목표 글 고정  -->
                          <!-- navbar로 스터디내용, QnA, 그룹공지게시판 링크 걸기  -->


    <div id="content">
        {% block content %}{% endblock %}      <!-- 스터디내용, QnA, 그룹공지게시판 내용 달라져야함 -->>
        {% block script %}      <!-- script 추가  --> {% endblock %}
    </div>
</body>
</html>
