{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Check</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="menu">
        <div class="group-main-text">
                <h2>{{group.name}}</h2>
                <ul id="accordion">
                    <h4>그룹 정보</h4>
                    <h5>{{group.info}}</h5> <br>
                    <h4>그룹 목표</h4>
                    <h5>{{group.goal}}</h5> <br>
                    <h4>현재 그룹 인원</h4>
                    <h5>{{group.members}}명</h5>
                    <a href="{% url 'group:group_list' request.user.id %}"><h5>그룹 보기</h5></a>
                    <a href="{% url 'cal:calendar' group.id %}"><h5>캘린더 보기</h5></a>


                    {% if request.user == group.uid %}
                        <a href="{% url 'board:board_list' group.id %}"><h5>게시판 관리</h5></a>
                    {% endif %}

                </ul>
        </div>
    </div>
</body>
</html>