{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Check</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'cal_menu_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&family=Nanum+Gothic+Coding:wght@400;700&family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="group-main-text" style="position:relative;top:10%;">
        <h4><a class="group-main-text">{{group.name}}</a></h4>
    </div>

    <div class="menu">
        <a href="#" class="trigger">MENU</a>
         <ul class="menulist">
             <li class="info">
                <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
                <span class="title">그룹 정보 : </span>
                <span>{{group.info}}</span>
             </li>
             <li class="info">
                <span class="icon"><ion-icon name="flag-outline"></ion-icon></span>
                <span class="title">그룹 목표 : </span>
                <span>{{group.goal}}</span>
             </li>
             <li class="info">
                <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                <span class="title">가입 인원 : </span>
                <span>{{group.members}}</span>
             </li>
             <li>
                <a href="{% url 'group:group_list' %}" class="">
                <span class="icon"><ion-icon name="list-circle-outline"></ion-icon></span>
                <span class="title">그룹 보기</span>
                </a>
            </li>
            <li>
                <a href="{% url 'cal:calendar' group.id %}" class="">
                <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                <span class="title">캘린더 보기</span>
                </a>
            </li>
            <li>
                {% if request.user == group.uid %}
                <a href="{% url 'board:board_list' group.id %}" class="">
                <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                <span class="title">게시판 관리</span>
                {% endif %}
                </a>
            </li>
         </ul>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
    $(function () {

    var url = window.location.pathname,
    urlRegExp = new RegExp(url.replace(/\/$/, '') + "$");

    $('a').each(function () {
        if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
            $(this).addClass('active');
            }
        });
    });
    </script>
</body>
</html>
