{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'cal_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <title>Study Check</title>

</head>
<body>
  <div class = "sidenav">
    {% include "cal_menu.html" %}
  </div>
  <div class = "list">
    {% block content %}
    {%endblock%}
    {% block script %}
    {% endblock %}
  </div>
</body>
<script>

    $(function () {
        var trigger = $('.trigger');
        var menu = $('.menulist');
        $(trigger).on('click', function (e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function () {
            var w = $(window).width();
            if (w > 768 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>

</html>