{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Check</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'board_menu_style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&family=Nanum+Gothic+Coding:wght@400;700&family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <style>
        *{
            font-family: 'Nanum Gothic Coding', monospace
        }
        h2,h4 {
            font-family: 'Do Hyeon', sans-serif;

        }
        .group {
            font-family: 'Sunflower', sans-serif;
        }
    </style>
</head>
<body>
<div class="group-main-text">
    <h4><a class="group-main-text">{{group.name}}</a></h4>
    </div>
    <div class="menu">
         <ul>
             <li>
                 <div>
                <span class="icon"><ion-icon name="information-circle-outline"><</ion-icon>
                    <span class="title">그룹 정보</span></div>
                        <span class="info">{{group.info}}</span>
             </li>
             <li>
                 <div>
                <span class="icon"><ion-icon name="flag-outline"></ion-icon></span>
                    <span class="title">그룹 목표</span></div>
                        <span class="info">{{group.goal}}</span>
             </li>
             <li>
                 <div>
                <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title">가입 인원</span></div>
                    <span class="info">{{group.members}}</span>
             </li>
         </ul>
    </div>
    <div class="others">
                <ul>
                    <li>
                            <a href="{% url 'group:group_list' %}" class="">
                                <span class="icon"><ion-icon name="list-circle-outline"></ion-icon></span>
                                    <span class="others_name">그룹 보기</span>
                    </li>
                    <li>
                        <a class="">
                                <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                                <span class="others_name">캘린더 보기</span>
                            </a>
                    </li>
                    {% if request.user == group.uid %}
                        <li>
                            <a href="{% url 'board:board_list' group.id %}" class="">
                                <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                                <span class="others_name">게시판 관리</span>
                        </li>
                    {% endif %}
                    
                </ul>
    </div>
    <style>
    .others{
        margin-top: 60%;
    }
    .others ul li{
        list-style: none;
    }
    </style>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>