{% extends 'board_base.html' %}  <!-- base/html 맞는지 확인 -->

{% block content %}
<div class="container-list">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="contents">댓글 내용</label>
            <textarea class="form-control" name="contents" id="contents"
                      rows="10">{{ form.contents.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-black">저장하기</button>
    </form>
</div>
{% endblock %}