{% extends 'cal/base.html' %}

{% block content %}

<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'cal:calendar' gid%}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'cal:calendar' gid%}?{{ next_month }}"> Next Month </a>
</div>

{{ calendar }}

<div>
<a href="{% url 'cal:event_new' gid%}" > Resister Your Schedule </a>
<button type="button"  class="btn btn-outline-warning btn float-right" onClick="location.href ='{% url 'group:group_page' gid  %}' ">그룹으로</button>
</div>
{% endblock %}