{% extends 'cal_base.html' %}

{% block content %}

<div class="container-list">
    <h5 class="my-3 border-bottom pb-2">일정 작성</h5>
    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-black" style="float:left" name="flag" value="1">저장하기</button>
        <button type="submit" class="btn btn-black" style="float:left" name="flag" value="0">삭제하기</button>
      <a class="btn btn-black float-right" href="{% url 'cal:calendar' pk%}"> Calendar </a>
    </form>
</div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<style>
    .clearfix{
      padding-left: 0%;
    }
  </style>
{% endblock %}